<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/feature.gif">
         <run
               class="org.geotools.tutorial.swt.GtSwtApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.geotools.tutorial.swt.Perspective"
            id="rcp-gt-swt.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.geotools.tutorial.swt.MapView"
            icon="icons/grid.gif"
            id="rcp-gt-swt.view"
            name="Map View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="文件">
            <command
                  commandId="rcp-gt-swt.openshp"
                  icon="icons/open.gif"
                  label="打开Shapefile文件"
                  style="push"
                  tooltip="Opens a shapefile from the filesystem">
            </command>
            <command
                  commandId="rcp-gt-swt.opentiff"
                  icon="icons/open.gif"
                  label="打开Geotiff文件"
                  style="push"
                  tooltip="Opens an geotiff file from the filesystem">
            </command>
            <command
                  commandId="rcp-gt-swt.openworldimage"
                  icon="icons/open.gif"
                  label="打开Worldimage文件"
                  style="push"
                  tooltip="Opens an world image file from the filesystem">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="退出">
            </command>
         </menu>
         <menu
               label="操作">
            <command
                  commandId="rcp-gt-swt.panmap"
                  label="漫游"
                  style="push">
            </command>
            <command
                  commandId="rcp-gt-swt.zoomin"
                  label="放大"
                  style="push">
            </command>
            <command
                  commandId="rcp-gt-swt.zoomout"
                  label="缩小"
                  style="push">
            </command>
            <command
                  commandId="rcp-gt-swt.resetmap"
                  label="重置"
                  style="push">
            </command>
            <command
                  commandId="rcp-gt-swt.mapinfo"
                  label="查询"
                  style="push">
            </command>
         </menu>
         <menu
               label="添加模拟设备">
            <command
                  commandId="rcp-gt-swt.addsymbol"
                  label="添加模拟设备1"
                  style="push">
            </command>
            <command
                  commandId="rcp-gt-swt.addsymbol"
                  label="添加模拟设备2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
       <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
           targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="rcp-gt-swt.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="rcp-gt-swt.viewContribution"
            targetID="rcp-gt-swt.view">
         <action
               class="org.geotools.tutorial.swt.actions.DrawShapesAction"
               icon="icons/feature.gif"
               id="rcp-gt-swt.drawshapes"
               label="Draw Test Shapes"
               style="push"
               toolbarPath="gtswt2">
         </action>
         <action
               class="org.geotools.tutorial.swt.actions.ZoomoutAction"
               icon="icons/zoom_out_co.gif"
               id="rcp-gt-swt.zoomout"
               label="Zoomout Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="org.geotools.tutorial.swt.actions.ZoominAction"
               icon="icons/zoom_in_co.gif"
               id="rcp-gt-swt.zoomin"
               label="Zoomin Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="org.geotools.tutorial.swt.actions.ResetAction"
               icon="icons/zoom_extent_co.gif"
               id="rcp-gt-swt.reset"
               label="Reset Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="org.geotools.tutorial.swt.actions.PanAction"
               icon="icons/pan_mode.gif"
               id="rcp-gt-swt.pan"
               label="Pan Action"
               style="push"
               toolbarPath="gtswt">
         </action>
         <action
               class="org.geotools.tutorial.swt.actions.InfoAction"
               icon="icons/info_mode.gif"
               id="rcp-gt-swt.info"
               label="Info Action"
               style="push"
               toolbarPath="gtswt">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.OpenShapefileCommand"
            id="rcp-gt-swt.openshp"
            name="Open Shapefile">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.OpenTiffCommand"
            id="rcp-gt-swt.opentiff"
            name="Open Geotiff File">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.OpenWorldimageCommand"
            id="rcp-gt-swt.openworldimage"
            name="Open Image File">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.PanCommand"
            id="rcp-gt-swt.panmap"
            name="pan map">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.ZoominCommand"
            id="rcp-gt-swt.zoomin"
            name="map zoomin">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.ZoomoutCommand"
            id="rcp-gt-swt.zoomout"
            name="mapzoomout">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.ResetCommand"
            id="rcp-gt-swt.resetmap"
            name="mapreset">
      </command>
      <command
            defaultHandler="org.geotools.tutorial.swt.actions.InfoCommand"
            id="rcp-gt-swt.mapinfo"
            name="mapinfo">
      </command>
      <command
            id="rcp-gt-swt.addsymbol"
            name="addsymbol">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcp-gt-swt.application"
            name="mapviewer">
         <property
               name="appName"
               value="mapviewer">
         </property>
      </product>
   </extension>

</plugin>
